.btn {
    background-color: white ;
    border: none ;
    color: green ; <!-- font color -->
    padding: 0px 0px 0px 0px ; <!-- top right bottom left -->
    text-align: left ;
    font-size: 16px ;			
}
.line {
   stroke: black ;
   stroke-width: 2 ;
}
.circle {
   stroke: black;
   stroke-width: 1;
   fill: black";
}
