.border {
    background-color: white;
    border: 1;
    color: green; <!-- font color -->
    padding: 0px 0px 0px 0px; <!-- top right bottom left -->
    text-align: left;
    font-size: 16px;
}
.audio {
    audio; mpeg;
}